*{
    background: black;
    font-family: 'Teko', sans-serif;
    color: white;
}

.nav-area {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .3s;
    color: rgb(255, 0, 0);
    font-size: 15px;
    letter-spacing: 8px;
    color: rgb(255, 255, 255);
}

.nav-area li a:hover {
    color: rgb(223, 172, 33);
}

.about-area {
    text-align: center;
    color: white;
    margin-top: 5%;
}

.about-area h1 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 40px;
}

.about-text {
    margin: 60px;
    font-size: 30px
}

.projects-area {
    padding: 50px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    padding-top: 10%;
}

.projects-area h2 {
    color: red;
}

.buttons {
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}